@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,900|Source+Serif+Pro');

@mixin generic-ease-transition($type, $duration, $time) {
  -webkit-transition: $type $duration $time;
  -moz-transition: $type $duration $time;
  -o-transition: $type $duration $time;
  transition: $type $duration $time;
}

@mixin generic-card-text($family, $size, $weight) {
  font-family: $family, serif;
  font-weight: $weight;
  font-size: $size;
}

@mixin generic-absolute-position($top, $right, $bottom, $left) {
  position: absolute;
  bottom: $bottom;
  right: $right;
  left: $left;
  top: $top;
}

.batch-wrapper{
  margin-top: 50px;
}

.grid-sizer {
  width: 25%;
}

.grid-item {
  width: 25%;
  float: left;
  img {
    display: block;
    max-width: 100%;
  }
}

.lot-card {
  position: relative;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  border: 1px solid rgba(107, 107, 107, 0.36);
  margin: 8px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  @include generic-ease-transition(box-shadow, 1s, ease);
  &:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    img {
      transform: scale(1.1);
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
    }
  }
  .head {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    position: relative;
    overflow: hidden;
    img {
      border-top-left-radius: 1px;
      border-top-right-radius: 1px;
      min-width: 100%;
      @include generic-ease-transition(all, 0.3s, null);
    }
  }
  .body {
    padding: 20px;
    p {
      &:first-child {
        @include generic-card-text('Source Sans Pro', 12px, 700);
        text-transform: uppercase;
        margin-bottom: 0px;
        
      }
      &:nth-last-child(2) {
        @include generic-card-text('Source Sans Pro', 18px, 700);
        text-transform: uppercase;
      }
      &:last-child {
        @include generic-card-text('Source Serif Pro', 15px, 400);
        line-height: 19px;
      }
    }
  }
  &:hover {
    .hammer-flarg {
      font-size: 13px;
    }
    button.like-product {
      visibility: visible;
      opacity: 1;
    }
  }
}

.hammer-flarg {
  @include generic-absolute-position(10px, -8px, null, null);
  background: #b3001e;
  color: #ffffff;
  font-size: 0;
  padding: 0px 9.5px;
  z-index: 3;
  
  text-align: center;
  height: 23px;
  line-height: 20px;
  @include generic-ease-transition(all, 150ms, ease);
  &:before {
    content: "\f0e3";
    font-family: FontAwesome;
    font-size: 16px;
    vertical-align: middle;
    margin-right: 2px;
    position: relative;
    display: inline-block;
    width: 16px;
    height: 22px;
    opacity: 0.5;
    margin-right: 5px;
  }
  &:after {
    content: " ";
    @include generic-absolute-position(null, 2px, -5px, null);
    border: 5px solid transparent;
    border-bottom: 5px solid #290208;
    -moz-transform: rotate(310deg);
    -ms-transform: rotate(310deg);
    -webkit-transform: rotate(310deg);
    transform: rotate(310deg);
  }
}

button.like-product {
  i {
    @include generic-absolute-position(null, null, 6px, 7px);
  }
  visibility: hidden;
  opacity: 0;
  @include generic-ease-transition(opacity, 0.6s, linear);
  @include generic-absolute-position(null, null, 5px, 10px);
  background: rgba(0, 0, 0, 0.63);
  color: white;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 21px;
  &:focus {
    outline: none;
  }
}

@media screen and (max-width: 950px) {
  .grid-sizer, .grid-item {
    width: 33.333%;
  }
}

@media screen and (max-width: 750px) {
  .grid-sizer, .grid-item {
    width: 50%;
  }
}

@media screen and (max-width: 470px) {
  .grid-sizer, .grid-item {
    width: 100%;
  }
}