@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,900|Source+Serif+Pro);

.batch-wrapper{
  margin-top: 50px;
}

.grid-sizer {
  width: 25%;
}

.grid-item {
  width: 25%;
  float: left;
}
.grid-item img {
  display: block;
  max-width: 100%;
}

.lot-card {
  position: relative;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  border: 1px solid rgba(107, 107, 107, 0.36);
  margin: 8px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: box-shadow 1s ease;
  -moz-transition: box-shadow 1s ease;
  -o-transition: box-shadow 1s ease;
  transition: box-shadow 1s ease;
}
.lot-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.lot-card:hover img {
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.lot-card .head {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  position: relative;
  overflow: hidden;
}
.lot-card .head img {
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  min-width: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.lot-card .body {
  padding: 20px;
}
.lot-card .body p:first-child {
  font-family: "Source Sans Pro", serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.lot-card .body p:nth-last-child(2) {
  font-family: "Source Sans Pro", serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}
.lot-card .body p:last-child {
  font-family: "Source Serif Pro", serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}
.lot-card:hover .hammer-flarg {
  font-size: 13px;
}
.lot-card:hover button.like-product {
  visibility: visible;
  opacity: 1;
}

.hammer-flarg {
  position: absolute;
  right: -8px;
  top: 10px;
  background: #b3001e;
  color: #ffffff;
  font-size: 0;
  padding: 0px 9.5px;
  z-index: 3;
  text-align: center;
  height: 23px;
  line-height: 20px;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}
.hammer-flarg:before {
  content: "\f0e3";
  font-family: FontAwesome;
  font-size: 16px;
  vertical-align: middle;
  margin-right: 2px;
  position: relative;
  display: inline-block;
  width: 16px;
  height: 22px;
  opacity: 0.5;
  margin-right: 5px;
}
.hammer-flarg:after {
  content: " ";
  position: absolute;
  bottom: -5px;
  right: 2px;
  border: 5px solid transparent;
  border-bottom: 5px solid #290208;
  -moz-transform: rotate(310deg);
  -ms-transform: rotate(310deg);
  -webkit-transform: rotate(310deg);
  transform: rotate(310deg);
}

button.like-product {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.6s linear;
  -moz-transition: opacity 0.6s linear;
  -o-transition: opacity 0.6s linear;
  transition: opacity 0.6s linear;
  position: absolute;
  bottom: 5px;
  left: 10px;
  background: rgba(0, 0, 0, 0.63);
  color: white;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 21px;
}
button.like-product i {
  position: absolute;
  bottom: 6px;
  left: 7px;
}
button.like-product:focus {
  outline: none;
}

@media screen and (max-width: 950px) {
  .grid-sizer, .grid-item {
    width: 33.333%;
  }
}
@media screen and (max-width: 750px) {
  .grid-sizer, .grid-item {
    width: 50%;
  }
}
@media screen and (max-width: 470px) {
  .grid-sizer, .grid-item {
    width: 100%;
  }
}
