@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,900");

@mixin generic-ease-transition($type, $duration, $time) {
  -webkit-transition: $type $duration $time;
  -moz-transition: $type $duration $time;
  -o-transition: $type $duration $time;
  transition: $type $duration $time;
}

@mixin generic-absolute-position($top, $right, $bottom, $left) {
  position: absolute;
  bottom: $bottom;
  right: $right;
  left: $left;
  top: $top;
}

@mixin two-dimensional($width, $height) {
  width: $width;
  height: $height;
}

* {
  box-sizing: border-box;
}

h1, h2 {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  margin: 0px;
}

h1 {
  font-size: 38px;
  font-weight: 900;
  margin-top: 20px;
}

h1 span {
  display: block;
}

h2 {
  font-size: 21px;
  margin-bottom: 20px;
}

body {
  background-color: #fbfafa;
}

.grid {
  max-width: 1200px;
}

.grid-item {
  float: left;
}

.grid-item, .grid-item-content {
  @include two-dimensional(120px, 120px);
}

.grid-item-big, .grid-item-content-big {
  @include two-dimensional(240px, 240px);
}

.grid-item-content {
  @include two-dimensional(100%, 100%);
  filter: grayscale(100%);
  background-size: cover;
  background-position: center;
  border: 1px solid rgba(0, 0, 0, 0.08);
  padding: 1px;
  transition: width 0.4s, height 0.4s;
  -webkit-transition: width 0.4s, height 0.4s;
}

.grid-item:hover .grid-item-content {
  border-color: white;
  cursor: pointer;
}

.grid-item.is-expanded, .grid-item.is-expanded .grid-item-content {
  @include two-dimensional(360px, 240px);
  background-position: center;
}

.grid-item.is-expanded {
  z-index: 2;
  background-position: center;
}

.grid-item-content .title {
  font-family: 'Source Sans Pro', sans-serif;
  @include generic-absolute-position(null, null, 9px, null);  
  @include generic-ease-transition(opacity, 0.3s, null);
  @include two-dimensional(90%, 35px);
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  background: rgba(47, 43, 43, 0.33);
  font-size: 11px;
  opacity: 0;
  padding: 3px 3px 3px 10px;
  display: -webkit-box;
  margin: 0 auto;
  line-height: 1.4;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid-item-content:hover .title {
  opacity: 1;
}

.grid-item-content:hover {
  opacity: 1;
  filter: grayscale(0%);
}

.is-expanded .title {
  width: 60%;
  bottom: 9px;
}

.is-expanded:hover .controls {
  opacity: 1;
}

.is-expanded .grid-item-content {
  filter: grayscale(0%);
}

.controls {
  @include generic-absolute-position(null, null, 13px, null);    
  @include generic-ease-transition(opacity, 1s, null);
  @include two-dimensional(30px, 30px);  
  font-size: 18px;
  background-color: rgba(47, 43, 43, 0.33);
  display: inline-block;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
  opacity: 0;
}

.control-like {
  right: 40px;
}

.control-like .fa-heart {
  @include generic-absolute-position(null, null, 6px, 7px);  
  font-size: 16px;
}

.control-view {
  @include generic-absolute-position(null, 0px, null, null);
}

.control-view .fa-eye {
  @include generic-absolute-position(null, null, 6px, 6px);    
}

.controls:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-1px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(1px, 0, 0);
  }
}
@media screen and (max-width: 408px) {
  .grid-item.is-expanded, .grid-item.is-expanded .grid-item-content {
    width: 100%;
  }
}
