@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,900");
* {
  box-sizing: border-box;
}

h1, h2 {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  margin: 0px;
}

h1 {
  font-size: 38px;
  font-weight: 900;
  margin-top: 20px;
}

h1 span {
  display: block;
}

h2 {
  font-size: 21px;
  margin-bottom: 20px;
}

body {
  background-color: #fbfafa;
}

.grid {
  max-width: 1200px;
}

.grid-item {
  float: left;
}

.grid-item, .grid-item-content {
  width: 120px;
  height: 120px;
}

.grid-item-big, .grid-item-content-big {
  width: 240px;
  height: 240px;
}

.grid-item-content {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  background-size: cover;
  background-position: center;
  border: 1px solid rgba(0, 0, 0, 0.08);
  padding: 1px;
  transition: width 0.4s, height 0.4s;
  -webkit-transition: width 0.4s, height 0.4s;
}

.grid-item:hover .grid-item-content {
  border-color: white;
  cursor: pointer;
}

.grid-item.is-expanded, .grid-item.is-expanded .grid-item-content {
  width: 360px;
  height: 240px;
  background-position: center;
}

.grid-item.is-expanded {
  z-index: 2;
  background-position: center;
}

.grid-item-content .title {
  font-family: 'Source Sans Pro', sans-serif;
  position: absolute;
  bottom: 9px;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  width: 90%;
  height: 35px;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  background: rgba(47, 43, 43, 0.33);
  font-size: 11px;
  opacity: 0;
  padding: 3px 3px 3px 10px;
  display: -webkit-box;
  margin: 0 auto;
  line-height: 1.4;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid-item-content:hover .title {
  opacity: 1;
}

.grid-item-content:hover {
  opacity: 1;
  filter: grayscale(0%);
}

.is-expanded .title {
  width: 60%;
  bottom: 9px;
}

.is-expanded:hover .controls {
  opacity: 1;
}

.is-expanded .grid-item-content {
  filter: grayscale(0%);
}

.controls {
  position: absolute;
  bottom: 13px;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  width: 30px;
  height: 30px;
  font-size: 18px;
  background-color: rgba(47, 43, 43, 0.33);
  display: inline-block;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
  opacity: 0;
}

.control-like {
  right: 40px;
}

.control-like .fa-heart {
  position: absolute;
  bottom: 6px;
  left: 7px;
  font-size: 16px;
}

.control-view {
  position: absolute;
  right: 0px;
}

.control-view .fa-eye {
  position: absolute;
  bottom: 6px;
  left: 6px;
}

.controls:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-1px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(1px, 0, 0);
  }
}
@media screen and (max-width: 408px) {
  .grid-item.is-expanded, .grid-item.is-expanded .grid-item-content {
    width: 100%;
  }
}
