@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900|Source+Serif+Pro");

.item > div:last-child, .item > div:first-child {
  display: none;
}

.active > div {
  opacity: 0.5;
}
.active > div:nth-last-child(2) {
  opacity: 1;
}

#slideshow-header {
  height: 500px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#slideshow-background {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  position: absolute;
  left: 0px;
  top: 0px;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  filter: blur(6px) brightness(50%);
  -webkit-filter: blur(6px) brightness(50%);
  z-index: 1;
}

#slideshow-carousel {
  position: absolute;
  bottom: 20px;
  z-index: 2;
}

.item-wrapper {
  position: relative;
}

.ui-page.ui-page-theme-a.ui-page-active:focus {
  outline: none;
}

.ui-loader {
  display: none;
}

.active > div:nth-last-child(2) .picture {
  width: 50%;
}
.active > div:nth-last-child(2) .info {
  position: absolute;
  bottom: 0px;
  right: -60px;
  display: block;
  visibility: visible;
  opacity: 1;
  width: 50%;
}

.img-responsive {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 300px;
  margin: 0 auto;
}

.info h2 {
  text-transform: uppercase;
  font-family: "Source Sans Pro", serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 2px;
}
.info h3 {
  margin-bottom: 15px;
  font-family: "Source Sans Pro", serif;
  font-weight: 400;
  font-size: 18px;
  margin-top: 0px;
}
.info p.price {
  font-family: "Source Sans Pro", serif;
  font-weight: 700;
  font-size: 18px;
}

.item .info {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  width: 50%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  transition: all 1s linear;
  position: absolute;
}
.item .picture {
  min-width: 400px;
  min-height: 500px;
  position: relative;
}

p.description {
  font-family: "Source Serif Pro", serif;
  font-size: 15px;
}
p.lot {
  margin-bottom: 0px;
  font-size: 15px;
}

.info .btn-default {
  font-family: "Source Sans Pro", serif;
  font-weight: 900;
  font-size: 20px;
  background-color: #f2c600;
  color: white;
  border-color: rgba(0, 0, 0, 0.6);
  padding: 7px 28px;
  margin-top: 13px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.8), 0 3px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.8), 0 3px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6), 0 2px 0 0 rgba(0, 0, 0, 0.07);
}

.item {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.like-product {
  background-color: rgba(0, 0, 0, 0.66);
  border: none;
  border-radius: 51%;
  width: 42px;
  height: 42px;
  position: absolute;
  bottom: 1px;
  margin-left: 10px;
  z-index: 2;
}
.like-product i {
  font-size: 24px;
  position: absolute;
  bottom: 8px;
  left: 9px;
}

@media screen and (min-width: 769px) {
  .item > div:last-child, .item > div:first-child {
    display: block !important;
  }

  .carousel {
    width: 100%;
    display: table-cell;
    position: relative;
    vertical-align: middle;
  }

  .carousel-inner {
    width: 150%;
    left: -25%;
  }
  .carousel-inner > .item.next, .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(33%, 0, 0);
    -ms-transform: translate3d(33%, 0, 0);
    transform: translate3d(33%, 0, 0);
  }
  .carousel-inner > .item.prev, .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-33%, 0, 0);
    -ms-transform: translate3d(-33%, 0, 0);
    transform: translate3d(-33%, 0, 0);
  }

  .carousel-control.left, .carousel-control.right {
    background: rgba(255, 255, 255, 0.3);
    width: 25%;
  }

  .carousel-inner > .item > img {
    min-width: 100%;
  }
}
@media screen and (max-width: 1180px) {
  .img-responsive {
    max-width: 250px;
    -webkit-transform: translate(-65%, 0%);
    -ms-transform: translate(-65%, 0%);
    transform: translate(-65%, 0%);
    transition: all .5s linear;
  }

  .active > div:nth-last-child(2) .img-responsive {
    max-width: 250px;
  }
  .active > div:nth-last-child(2) .info {
    width: 50%;
    left: 289px;
  }
}
@media screen and (max-width: 769px) {
  .info .description, .info .btn {
    display: none;
  }

  .col-sm-4 {
    width: 100%;
  }

  .img-responsive {
    max-width: 250px;
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
  }

  .item .picture {
    min-width: 100%;
    min-height: auto;
  }

  #slideshow-carousel {
    width: 100%;
  }

  .active > div:nth-last-child(2) .info {
    position: initial;
  }

  .img-responsive {
    margin: 0 !important;
    max-height: 240px;
  }

  p.lot {
    position: absolute;
    bottom: 34px;
    right: 0px;
  }

  .like-product {
    position: absolute;
    right: 0px;
    -webkit-transform: translateY(-85px);
    -ms-transform: translateY(-85px);
    transform: translateY(-85px);
  }

  .price {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }

  .item .picture {
    min-height: 500px;
  }
}
