@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900|Source+Serif+Pro');

@mixin generic-transform($scale) {
  -webkit-transform: $scale;
  -ms-transform: $scale;
  transform: $scale;
}

@mixin concrete-not-selecionable(){
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin generic-slide-text($family, $size, $weight) {
  font-family: $family, serif;
  font-weight: $weight;
  font-size: $size;
}

@mixin generic-absolute-position($top, $right, $bottom, $left) {
  position: absolute;
  bottom: $bottom;
  right: $right;
  left: $left;
  top: $top;
}

.item > div {
  &:last-child, &:first-child {
    display: none;
  }
}

.active > div {
  opacity: 0.5;
  &:nth-last-child(2) {
    opacity: 1;
  }
}

#slideshow-header {
  height: 500px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#slideshow-background {
  @include generic-transform(scale(1.1));
  @include generic-absolute-position(0px, null, null, 0px);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  filter: blur(6px) brightness(50%);
  -webkit-filter: blur(6px) brightness(50%);
  z-index: 1;
}

#slideshow-carousel {
  @include generic-absolute-position(null, null, 20px, null);
  z-index: 2;
}

.item-wrapper {
  position: relative;
}

.ui-page.ui-page-theme-a.ui-page-active:focus {
  outline: none;
}

.ui-loader {
  display: none;
}

.active > div:nth-last-child(2) {
  .picture {
    width: 50%;
  }
  .info {
    @include generic-absolute-position(null, -60px, 0px, null);
    display: block;
    visibility: visible;
    opacity: 1;
    width: 50%;
  }
}

.img-responsive {
  @include generic-absolute-position(null, null, 0px, 50%);
  @include generic-transform(translate(-50%, 0%));
  @include concrete-not-selecionable();
  max-width: 300px;
  margin: 0 auto;
}

.info {
  h2 {
    text-transform: uppercase;
    @include generic-slide-text('Source Sans Pro', 24px, 700);
    margin-bottom: 2px;
  }
  h3{
    margin-bottom: 15px;
    @include generic-slide-text('Source Sans Pro', 18px, 400);
    margin-top: 0px;
  }
  p.price {
    @include generic-slide-text('Source Sans Pro', 18px, 700);    
  }
}

.item {
  .info {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    width: 50%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    transition: all 1s linear;
    position: absolute;
  }
  .picture {
    min-width: 400px;
    min-height: 500px;
    position: relative;
  }
}

p {
  &.description {
    @include generic-slide-text('Source Serif Pro', 15px, null);
  }
  &.lot {
    margin-bottom: 0px;
    font-size: 15px;
  }
}

.info .btn-default {
  @include generic-slide-text('Source Sans Pro', 20px, 900);
  background-color: #f2c600;
  color: white;
  border-color: rgba(0, 0, 0, 0.6);
  padding: 7px 28px;
  margin-top: 13px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.8), 0 3px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.8), 0 3px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6), 0 2px 0 0 rgba(0, 0, 0, 0.07);
}

.item {
  @include concrete-not-selecionable();
}

.like-product {
  background-color: rgba(0, 0, 0, 0.66);
  border: none;
  border-radius: 51%;
  width: 42px;
  height: 42px;
  @include generic-absolute-position(null, null, 1px, null);
  margin-left: 10px;
  z-index: 2;
  i {
    font-size: 24px;
    @include generic-absolute-position(null, null, 8px, 9px);
  }
}

@media screen and (min-width: 769px) {
  .item > div {
    &:last-child, &:first-child {
      display: block !important;
    }
  }
  .carousel {
    width: 100%;
    display: table-cell;
    position: relative;
    vertical-align: middle;
  }
  .carousel-inner {
    width: 150%;
    left: -25%;
    > .item {
      &.next, &.active.right {
        left: 0;
        @include generic-transform(translate3d(33%, 0, 0));
      }
      &.prev, &.active.left {
        left: 0;
        @include generic-transform(translate3d(-33%, 0, 0));
      }
    }
  }
  .carousel-control {
    &.left, &.right {
      background: rgba(255, 255, 255, 0.3);
      width: 25%;
    }
  }
  .carousel-inner > .item > img {
    min-width: 100%;
  }
}

@media screen and (max-width: 1180px) {
  .img-responsive {
    max-width: 250px;
    @include generic-transform(translate(-65%, 0%));
    transition: all .5s linear;
  }
  .active > div:nth-last-child(2) {
    .img-responsive {
      max-width: 250px;
    }
    .info {
      width: 50%;
      left: 289px;
    }
  }
}

@media screen and (max-width: 769px) {
  .info {
    .description, .btn {
      display: none;
    }
  }
  .col-sm-4{
    width: 100%;
  }
  .img-responsive {
    max-width: 250px;
    @include generic-transform(translate(-50%, 0%));
  }
  .item .picture {
    min-width: 100%;
    min-height: auto;
  }
  #slideshow-carousel {
    width: 100%;
  }
  .active > div:nth-last-child(2) .info {
    position: initial;
  }
  .img-responsive {
    margin: 0 !important;
    max-height: 240px;
  }
  p.lot {
    @include generic-absolute-position(null, 0px, 34px, null);
  }
  .like-product {
    @include generic-absolute-position(null, 0px, null, null);
    @include generic-transform(translateY(-85px));
  }
  .price {
    @include generic-absolute-position(null, 0px, 0px, null);
  }
  .item .picture {
    min-height: 500px;
  }
}